.recu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
    background-color: var(--background-color);
}

.recu-card {
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
    background-color: var(--background);
}

.recuperacion-contrasena {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--background);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.recu-title {
    font-weight: bold;
    font-size: 24px;
    color: var(--text-color);
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-wrapper {
    position: relative;
}

.otp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.otp-inputs {
    display: flex;
    gap: 5px;
}

.otp-inputs input {
    width: 35px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.otp-inputs input:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 5px var(--accent-color);
    outline: none;
}

.otp-inputs input::placeholder {
    color: var(--placeholder-color);
    opacity: 0.7;
}


.input-wrapper input {
    width: 93%;
    padding: 12px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--input-background-color);
    transition: border-color 0.3s ease;
}

.input-wrapper input:focus {
    border-color: var(--accent-color);
}

mat-error {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -18px;
}

@media (max-width: 600px) {
    .recuperacion-contrasena {
        max-width: 90%;
    }
}