<footer class="bg-cyan-950 text-gray-400 py-2">
  <div class=" mx-auto px-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-8">

      <!-- Sobre Nosotros -->
      <div>
        <h4 class="font-bold text-white mb-4 text-xs">Sobre Nosotros</h4>
        <ul class="space-y-1">
          <li>
            <a href="#" class="hover:text-white transition-colors duration-200">
              Quiénes somos
            </a>
          </li>
          <li>
            <a href="#" class="hover:text-white transition-colors duration-200">
              Contacto
            </a>
          </li>
        </ul>
      </div>

      <!-- Ayuda -->
      <div>
        <h4 class="font-bold text-white mb-4 text-xs">Ayuda</h4>
        <ul class="space-y-1">
          <li>
            <a href="#" class="hover:text-white transition-colors duration-200">
              FAQ
            </a>
          </li>
          <li>
            <a href="#" class="hover:text-white transition-colors duration-200">
              Envíos
            </a>
          </li>
        </ul>
      </div>

      <!-- Legal -->
      <div>
        <h4 class="font-bold text-white mb-4 text-xs">Legal</h4>
        <ul class="space-y-1">
          <li>
            <a href="/terminos-condiciones" class="hover:text-white transition-colors duration-200">
              Términos y condiciones
            </a>
          </li>
          <li>
            <a href="/aviso-privacidad" class="hover:text-white transition-colors duration-200">
              Aviso de Privacidad
            </a>
          </li>
          <li>
            <a href="/deslinde-legal" class="hover:text-white transition-colors duration-200">
              Deslinde Legal
            </a>
          </li>
        </ul>
      </div>
      <!-- Redes Sociales -->
      <div>
        <h4 class="font-bold text-white mb-4 text-xs">Redes Sociales</h4>
        <ul class="space-y-1">
          <li>
            <a *ngIf="companyInfo?.redes_sociales?.facebook" [href]="companyInfo.redes_sociales.facebook"
              target="_blank" class="flex items-center justify-left space-x-2 hover:text-gray-400">
              <mat-icon class="text-lg">facebook</mat-icon>
              <span>Facebook</span>
            </a>
          </li>
          <li>
            <a *ngIf="companyInfo?.redes_sociales?.instagram" [href]="companyInfo.redes_sociales.instagram"
              target="_blank" class="flex items-center justify-left space-x-2 hover:text-gray-400">
              <mat-icon class="text-lg">camera_alt</mat-icon>
              <span>Instagram</span>
            </a>
          </li>
          <li>
            <a *ngIf="companyInfo?.redes_sociales?.linkedin" [href]="companyInfo.redes_sociales.linkedin"
              target="_blank" class="flex items-center justify-left space-x-2 hover:text-gray-400">
              <mat-icon class="text-lg">business_center</mat-icon>
              <span>LinkedIn</span>
            </a>
          </li>
          <li>
            <a *ngIf="companyInfo?.redes_sociales?.twitter" [href]="companyInfo.redes_sociales.twitter" target="_blank"
              class="flex items-center justify-left space-x-2 hover:text-gray-400">
              <mat-icon class="text-lg">chat_bubble</mat-icon>
              <span>Twitter</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- Mapa del Sitio -->
      <div>
        <h4 class="font-bold text-white mb-4 text-xs">Mapa del Sitio</h4>
        <!-- Aquí puedes agregar enlaces o información si lo necesitas -->
      </div>
    </div>

    <!-- Línea divisoria y copyright -->
    <div class="mt-8 pt-5 border-t border-gray-700">
      <p class="text-center text-sm">
        © {{ companyInfo?.nombre || 'Filográficos' }}. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>