<mat-toolbar class="custom-toolbar"  color="primary">
  <span class="title">Filograficos</span>
  <span class="spacer"></span>
<nav>
  <button mat-button routerLink="/home" routerLinkActive="active">Inicio</button>
  <button mat-button routerLink="/login" routerLinkActive="active">Inicio Sesión</button>
  <button mat-button routerLink="/registro" routerLinkActive="active">Registro</button>
</nav>

  <mat-slide-toggle (change)="toggleTheme()" [checked]="isDarkTheme" aria-label="Toggle theme" color="accent">
    {{ isDarkTheme ? 'Noche' : 'Día' }}
  </mat-slide-toggle>
</mat-toolbar>