<mat-toolbar class="custom-toolbar" color="primary">
  <span class="title">{{ companyInfo?.nombre }}</span>
  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #appMenu="matMenu">
    <ng-container *ngIf="!tipoUsuario">
      <button mat-menu-item routerLink="/home" routerLinkActive="active">Inicio</button>
      <button mat-menu-item routerLink="/login" routerLinkActive="active">Iniciar Sesión</button>
      <button mat-menu-item routerLink="/registro" routerLinkActive="active">Registro</button>
    </ng-container>

    <ng-container *ngIf="tipoUsuario === 'cliente'">
      <button mat-menu-item routerLink="/homecliente" routerLinkActive="active">Inicio</button>
      <button mat-menu-item routerLink="/perfil" routerLinkActive="active">Mi Perfil</button>
      <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
    </ng-container>

    <ng-container *ngIf="tipoUsuario === 'administrador'">
      <button mat-menu-item routerLink="/homeadmin" routerLinkActive="active">Inicio</button>
      <button mat-menu-item routerLink="/empresa" routerLinkActive="active">Panel de Empresa</button>
      <button mat-menu-item routerLink="/incidencia" routerLinkActive="active">Incidencias</button>
      <button mat-menu-item routerLink="/type" routerLinkActive="active">Tipo de Correo</button>
      <button mat-menu-item routerLink="/plantilla" routerLinkActive="active">Plantillas de Correo</button>
      <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
    </ng-container>
  </mat-menu>

  <mat-slide-toggle (change)="toggleTheme()" [checked]="isDarkTheme" aria-label="Toggle theme" color="accent">
    {{ isDarkTheme ? 'Noche' : 'Día' }}
  </mat-slide-toggle>
</mat-toolbar>
