/* Estilos básicos del header */
.title {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Espaciador para empujar los elementos al lado derecho */
.spacer {
  flex: 1 1 auto;
}

/* Ajuste de colores en los temas claro/oscuro */
mat-toolbar {
  background-color: var(--primary-color);
  color: var(--text-color);
  height: 80px; /* Ajusta la altura según tus necesidades */
  font-size: 18px; /* Ajusta el tamaño de la fuente para hacer más grande el contenido */
  line-height: 80px; /* Alinea verticalmente el contenido dentro de la barra */
}

