<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <mat-form-field>
        <mat-label>Correo Electrónico</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="email" required />
        <mat-error *ngIf="loginForm.submitted && !email">Correo electrónico es requerido.</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="password" required />
        <mat-error *ngIf="loginForm.submitted && !password">La contraseña es requerida.</mat-error>
      </mat-form-field>
  
      <button mat-raised-button type="submit" color="primary">Iniciar Sesión</button>
    </form>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </div>
  