<!-- email-template-form.component.html -->
<div class="email-template-form-container">
  <h2 *ngIf="isEditMode">Editar Plantilla de Correo</h2>
  <h2 *ngIf="!isEditMode">Crear Plantilla de Correo</h2>
  
  <form [formGroup]="emailTemplateForm" (ngSubmit)="saveTemplate()">
    <div>
      <label for="nombre">Nombre:</label>
      <input id="nombre" formControlName="nombre" type="text" />
      <div *ngIf="emailTemplateForm.get('nombre')?.invalid && (emailTemplateForm.get('nombre')?.touched || emailTemplateForm.get('nombre')?.dirty)">
        <small class="error" *ngIf="emailTemplateForm.get('nombre')?.errors?.['required']">El nombre es obligatorio.</small>
      </div>
    </div>

    <div>
      <label for="tipo">Tipo:</label>
      <input id="tipo" formControlName="tipo" type="text" />
      <div *ngIf="emailTemplateForm.get('tipo')?.invalid && (emailTemplateForm.get('tipo')?.touched || emailTemplateForm.get('tipo')?.dirty)">
        <small class="error" *ngIf="emailTemplateForm.get('tipo')?.errors?.['required']">El tipo es obligatorio.</small>
      </div>
    </div>

    <div>
      <label for="asunto">Asunto:</label>
      <input id="asunto" formControlName="asunto" type="text" />
      <div *ngIf="emailTemplateForm.get('asunto')?.invalid && (emailTemplateForm.get('asunto')?.touched || emailTemplateForm.get('asunto')?.dirty)">
        <small class="error" *ngIf="emailTemplateForm.get('asunto')?.errors?.['required']">El asunto es obligatorio.</small>
      </div>
    </div>

    <div>
      <label for="contenido_html">Contenido HTML:</label>
      <textarea id="contenido_html" formControlName="contenido_html"></textarea>
      <div *ngIf="emailTemplateForm.get('contenido_html')?.invalid && (emailTemplateForm.get('contenido_html')?.touched || emailTemplateForm.get('contenido_html')?.dirty)">
        <small class="error" *ngIf="emailTemplateForm.get('contenido_html')?.errors?.['required']">El contenido HTML es obligatorio.</small>
      </div>
    </div>

    <div>
      <label for="contenido_texto">Contenido Texto:</label>
      <textarea id="contenido_texto" formControlName="contenido_texto"></textarea>
      <div *ngIf="emailTemplateForm.get('contenido_texto')?.invalid && (emailTemplateForm.get('contenido_texto')?.touched || emailTemplateForm.get('contenido_texto')?.dirty)">
        <small class="error" *ngIf="emailTemplateForm.get('contenido_texto')?.errors?.['required']">El contenido de texto es obligatorio.</small>
      </div>
    </div>

    <div>
      <label for="variables">Variables (separadas por comas):</label>
      <input id="variables" formControlName="variables" type="text" />
    </div>

    <button type="submit" [disabled]="emailTemplateForm.invalid">Guardar</button>
    <button type="button" (click)="router.navigate(['/email-templates'])">Cancelar</button>
  </form>
</div>
