<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header class="text-center">
      <mat-card-title class="login-title">Iniciar Sesión</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <!-- Correo Electrónico -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput type="email" formControlName="email" required placeholder="Ingresa tu correo electrónico" />
        </mat-form-field>

        <!-- Contraseña -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required minlength="8" placeholder="Ingresa tu contraseña" />
          <button mat-icon-button matSuffix (click)="hide = !hide" aria-label="Toggle password visibility">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <!-- reCAPTCHA -->
        <re-captcha siteKey="6Lck9V8qAAAAAEnjZRJxMKa27R1P_GWppjLuxmbG"
          (resolved)="onRecaptchaResolved($event)"></re-captcha>

        <!-- Botón de Enviar -->
        <div class="actions">
          <button mat-button type="submit" class="full-width" [disabled]="loginForm.invalid || loading">
       Entrar
          </button>
        </div>
      </form>

      <!-- Mensajes de error o éxito -->
      <div *ngIf="errorMessage" class="error-message text-center">
        {{ errorMessage }}
      </div>
      <div *ngIf="successMessage" class="success-message text-center">
        {{ successMessage }}
      </div>

      <div class="footer text-center">
        ¿Olvidaste tu contraseña?<a routerLink="/recupera"> Recupérala aquí</a>
        <br>
        ¿No tienes una cuenta?<a routerLink="/register">Regístrate aquí</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
