<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header class="text-center">
      <mat-card-title class="login-title">Iniciar Sesión</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        
        <!-- Correo Electrónico -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo Electrónico</mat-label>
          <input 
            matInput 
            type="email" 
            name="email" 
            [(ngModel)]="email" 
            required 
            email
            #emailInput="ngModel"
            placeholder="Ingresa tu correo electrónico"
          />
          <mat-error *ngIf="emailInput.errors?.['required'] && emailInput.touched">
            Correo electrónico es requerido.
          </mat-error>
          <mat-error *ngIf="emailInput.errors?.['email'] && emailInput.touched">
            El formato del correo no es válido.
          </mat-error>
        </mat-form-field>

        <!-- Contraseña -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            name="password"
            [(ngModel)]="password"
            required
            minlength="8"
            #passwordInput="ngModel"
            placeholder="Ingresa tu contraseña"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            aria-label="Toggle password visibility"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="passwordInput.errors?.['required'] && passwordInput.touched">
            La contraseña es requerida.
          </mat-error>
          <mat-error *ngIf="passwordInput.errors?.['minlength'] && passwordInput.touched">
            La contraseña debe tener al menos 8 caracteres.
          </mat-error>
        </mat-form-field>
        
        <!-- Botón de Enviar -->
        <div class="actions">
          <button mat-button type="submit" class="full-width" [disabled]="loginForm.invalid">
            Entrar
          </button>
        </div>
      </form>

      <div class="footer text-center">
        ¿Olvidaste tu contraseña?<a routerLink="/recupera"> Recupérala aquí</a>
        <br>
        ¿No tienes una cuenta?<a routerLink="/register">Regístrate aquí</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
