<div class="container">
  <!-- Formulario para actualizar una plantilla -->
  <form (ngSubmit)="updateTemplate()" *ngIf="isEditing">
    <div class="form-field">
      <label for="nombre">Nombre:</label>
      <input matInput type="text" [(ngModel)]="currentTemplate.nombre" name="nombre" placeholder="Nombre" required />
    </div>

   <!-- Campo tipo omitido en la edición -->
<div class="form-field" *ngIf="!isEditing">
  <mat-form-field appearance="fill">
    <mat-label>Tipo:</mat-label>
    <input matInput type="text" [(ngModel)]="currentTemplate.tipo" name="tipo" placeholder="Tipo" required />
  </mat-form-field>
</div>

<div class="form-field">
  <mat-form-field appearance="fill">
    <mat-label>Asunto:</mat-label>
    <input matInput type="text" [(ngModel)]="currentTemplate.asunto" name="asunto" placeholder="Asunto" required />
  </mat-form-field>
</div>

<div class="form-field">
  <mat-form-field appearance="fill">
    <mat-label>Contenido HTML:</mat-label>
    <textarea matInput [(ngModel)]="currentTemplate.contenido_html" name="contenido_html" placeholder="Contenido HTML" required></textarea>
  </mat-form-field>
</div>

<div class="form-field">
  <mat-form-field appearance="fill">
    <mat-label>Contenido Texto Plano:</mat-label>
    <textarea matInput [(ngModel)]="currentTemplate.contenido_texto" name="contenido_texto" placeholder="Contenido Texto Plano" required></textarea>
  </mat-form-field>
</div>

<div class="form-field">
  <mat-form-field appearance="fill">
    <mat-label>Variables (separadas por comas):</mat-label>
    <input matInput type="text" [(ngModel)]="currentTemplate.variables" name="variables" placeholder="Variables" />
  </mat-form-field>
</div>

<button mat-raised-button color="primary" type="submit">Update Template</button>
<button mat-button type="button" (click)="cancelEdit()">Cancel</button>

  </form>

  <!-- Lista de plantillas -->
  <h3>Plantillas Disponibles</h3>
  
    <mat-list-item *ngFor="let template of templates" class="template-item">
      <h4>{{ template.nombre }}</h4>
      <button mat-button (click)="editTemplateDetails(template)">Edit</button>
      <button mat-button (click)="deleteTemplate(template._id!)">Delete</button>
    </mat-list-item>

