/* Definir el tema claro (Día) */
:root {
  --primary-color: #4a90e2; /* Azul claro */
  --accent-color: #50e3c2; /* Verde esmeralda */
  --background-color: #ffffff; /* Blanco */
  --background: #ffffffc5; /* Blanco */
  --text-color: #333333; /* Gris oscuro */
  --button-bg-color: #b4d7ffce; /* Fondo de botones claros */
  --button-text-color: white; /* Texto de botones claros */
  --icon-color: #333333; /* Color de íconos en tema claro */
}

/* Definir el tema oscuro (Noche) */
.dark-theme {
  --primary-color: #202f44; /* Azul oscuro */
  --accent-color: #ff9800; /* Naranja brillante */
  --background-color: #181818; /* Gris muy oscuro */
  --background: #aaaaaa; /* Blanco */
  --text-color: #ffffff; /* Gris claro */
  --button-bg-color: #ff9800; /* Fondo de botones oscuros */
  --button-text-color: black; /* Texto de botones oscuros */
  --icon-color: #ffffff; /* Color de íconos en tema oscuro */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding-top: 50px; /* Mantén este padding si es necesario para el toolbar */
  margin: 0; /* Elimina el margen por defecto */
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

/* Opcional: Estilos para el html también */
html {
  height: 100%; /* Asegúrate de que el html ocupe toda la altura */
}
/* Estilos de botones */
button[mat-button] {
  background-color: var(--button-bg-color); /* Fondo del botón */
  color: var(--button-text-color); /* Texto del botón */
  transition: background-color 0.3s, color 0.3s; /* Suaviza la transición */
  margin-right: 15px; /* Ajusta según lo que necesites */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Añade una sombra ligera */
}

button[mat-button]:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra más intensa al pasar el mouse */
}

button[mat-button]:focus {
  outline: 2px solid var(--accent-color); /* Añade un borde de enfoque */
}

/* Tema oscuro para los botones */
.dark-theme button[mat-button] {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}
.dark-theme button[mat-button]:hover {
  box-shadow: 0 4px 10px rgba(255, 156, 64, 0.433); /* Sombra más intensa al pasar el mouse */
}

/* Estilos para los íconos */
button[mat-icon-button] {
  color: var(--icon-color); /* Color de íconos */
}
