<div class="container">
  <div *ngIf="isLoading" class="loading-spinner">
    <mat-progress-spinner mode="indeterminate" diameter="25"></mat-progress-spinner>
    <p>Cargando...</p>
  </div>
  <div class="form-actions">
    <h2>Perfil de usuario </h2>
  </div>
  <!-- Formulario de datos personales -->
  <div class="profile-container">
    <form #profileForm="ngForm">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="userProfile.nombre" name="nombre" required minlength="2" maxlength="100" />
        <mat-error *ngIf="profileForm.controls['nombre']?.invalid && profileForm.controls['nombre']?.touched">
          El nombre es obligatorio y debe tener entre 2 y 100 caracteres.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="userProfile.email" name="email" required />
        <mat-error *ngIf="profileForm.controls['email']?.invalid && profileForm.controls['email']?.touched">
          Introduzca un correo electrónico válido.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Teléfono</mat-label>
        <input matInput [(ngModel)]="userProfile.telefono" maxlength="10" type="tel" name="telefono" required pattern="^[0-9]{10}$" />
        <mat-error *ngIf="profileForm.controls['telefono']?.invalid && profileForm.controls['telefono']?.touched">
          El teléfono es obligatorio y debe contener 10 dígitos.
        </mat-error>
      </mat-form-field>

      <mat-card class="password-card">
        <mat-card-content>
          <div class="password-display">
            <span>Contraseña: *******</span>
            <button mat-button color="warn" (click)="openChangePasswordDialog()" style="float: right;">Modificar</button>
          </div>
        </mat-card-content>
      </mat-card>

      <div class="form-actions">
        <button mat-raised-button color="primary" (click)="updateProfile(profileForm)" [disabled]="profileForm.invalid" type="button">
          Actualizar Datos Personales
        </button>
      </div>
    </form>
  </div>
  <!-- Formulario de dirección -->
  <h2>Dirección</h2>
  <div class="profile-container">
    <form #addressForm="ngForm">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Calle</mat-label>
        <input matInput [(ngModel)]="userProfile.direccion.calle" name="calle" required />
        <mat-error *ngIf="addressForm.controls['calle']?.invalid && addressForm.controls['calle']?.touched">
          La calle es obligatoria.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Ciudad</mat-label>
        <input matInput [(ngModel)]="userProfile.direccion.ciudad" name="ciudad" required />
        <mat-error *ngIf="addressForm.controls['ciudad']?.invalid && addressForm.controls['ciudad']?.touched">
          La ciudad es obligatoria.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Código Postal</mat-label>
        <input matInput [(ngModel)]="userProfile.direccion.codigo_postal" maxlength="5" name="codigo_postal" required pattern="^[0-9]{5}$" />
        <mat-error *ngIf="addressForm.controls['codigo_postal']?.invalid && addressForm.controls['codigo_postal']?.touched">
          El código postal debe contener 5 dígitos numéricos.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Estado</mat-label>
        <input matInput [(ngModel)]="userProfile.direccion.estado" name="estado" required />
        <mat-error *ngIf="addressForm.controls['estado']?.invalid && addressForm.controls['estado']?.touched">
          El estado es obligatorio.
        </mat-error>
      </mat-form-field>

      <div class="form-actions">
        <button mat-raised-button color="primary" (click)="updateAddress(addressForm)" [disabled]="addressForm.invalid" type="button">
          Actualizar Dirección
        </button>
      </div>
    </form>
  </div>
  <!-- Botón para eliminar cuenta -->
  <div class="form-actions">
    <button (click)="deleteAccount()" mat-raised-button color="warn">
      Eliminar cuenta
    </button>
  </div>
  
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <h2>Cambiar Contraseña</h2>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Contraseña Actual</mat-label>
        <input matInput [(ngModel)]="currentPassword" [type]="hideCurrent ? 'password' : 'text'" required />
        <button mat-icon-button matSuffix (click)="hideCurrent = !hideCurrent" aria-label="Toggle password visibility">
          <mat-icon>{{ hideCurrent ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nueva Contraseña</mat-label>
        <input matInput [(ngModel)]="newPassword" [type]="hideNew ? 'password' : 'text'" required />
        <button mat-icon-button matSuffix (click)="hideNew = !hideNew" aria-label="Toggle password visibility">
          <mat-icon>{{ hideNew ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Confirmar Nueva Contraseña</mat-label>
        <input matInput [(ngModel)]="confirmNewPassword" [type]="hideConfirm ? 'password' : 'text'" required />
        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" aria-label="Toggle password visibility">
          <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <div class="form-actions">
        <button mat-button (click)="closeModal()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="onChangePassword()">Cambiar Contraseña</button>
      </div>
    </div>
  </div>
</div>
