.container {
  padding: 20px;
  background-color: var(--background);
}

.config-form {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-form-field {
  margin-bottom: 10px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

.form-card {
  margin: 0px;
  background-color: #fbfbfbdc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-actions {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}

.mat-error {
  font-size: 12px;
  color: #d32f2f;
}

.responsive-toggle-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  label,
  h3,
  h2 {
    font-size: 1rem;
  }

  .responsive-toggle-group {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
    box-shadow: none;
  }

  label,
  h3,
  h2 {
    font-size: 1rem;
  }

  .responsive-toggle-group {
    flex-direction: column;
    align-items: stretch;
  }
}