<div>
    <h2>Incidencias</h2>
    <div *ngIf="errorMessage">{{ errorMessage }}</div>
  
    <form (ngSubmit)="createIncidencia()">
      <input [(ngModel)]="newIncidencia.titulo" name="titulo" placeholder="Título" required>
      <input [(ngModel)]="newIncidencia.descripcion" name="descripcion" placeholder="Descripción" required>
      <button type="submit">Crear Incidencia</button>
    </form>
  
    <ul>
      <li *ngFor="let incidencia of incidencias">
        <h3>{{ incidencia.titulo }}</h3>
        <p>{{ incidencia.descripcion }}</p>
        <button (click)="updateIncidencia(incidencia._id, { titulo: incidencia.titulo, descripcion: incidencia.descripcion })">Actualizar</button>
        <button (click)="deleteIncidencia(incidencia._id)">Eliminar</button>
      </li>
    </ul>
  </div>
  